/* Write your CSS here */
.background-section {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-background {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.form-control {
  border-width: 2px;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  margin-right: 10px;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 15px;
}
